* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SairaCondensedLight';
    src: url('/assets/fonts/saira/4359e31d370527e85e59d2dfa7f32365/ce6ad045db1d814f684ef3a6a3c2ff55/SairaCondensedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: #414141;
    /* Gris foncé */
    background-color: aliceblue;
    /* bleu */
}
.nome {
    grid-column: 5/ 5;
    grid-row: 2;
}