* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SairaCondensedLight';
    src: url('/assets/fonts/saira/4359e31d370527e85e59d2dfa7f32365/ce6ad045db1d814f684ef3a6a3c2ff55/SairaCondensedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: #414141;
    /* Gris foncé */
    /*background-color: aqua; - bleu */
}

/*.grid-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 30px;
    align-items: start | end | center | stretch | baseline;
}

.nome {
    grid-column: 4/ 4;
    grid-row: 2;
}

.imagem-1 {
    grid-column: 6/ 8;
    grid-row: 2;

}

.redes {
    grid-column: 6/ 8;
    grid-row: 3;
}

.menu {
    border: 1px solid rgb(64, 114, 114);
    width: 980px;
    display: flex;
    background-color: aqua; 
}*/


h1 {
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.justify {
    text-align: justify;
}

hr {
    background-color: cyan;
    border: 0;
    height: 5px;
    width: 70%;
}

li {
    text-align: left;
    margin-left: 60px;
    margin-right: 10px;
}

<style>

/*Link não visitado */
a:link {
    color: green;
    text-decoration: none;
}

/*Link já visitado*/
/*a:visited {
  color: blue;
  text-decoration: none;
}

/*Quando o mouse passa por cima*/
/*a:hover {
  color: pink;
  text-decoration: none;
}

/*Link ativo/selecionado*/
/*a:active {
  color: yellow;
  text-decoration: none;
}
</style>


/* Mobile */
@media only screen and (max-width: 400px) {
    body {
        background-color: #F09A9D;
        /* Rouge */
    }
    .grid-container
    .menu
    .nome
    .redes
    }

/* Tablettes */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E;
        /* Jaune*/
    }
    .grid-container
    .menu
}

/* Ordinateur */
@media only screen and (min-width: 961px) {
    body
    .grid-container
    .menu
}